<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <center>
            <H1><u> Sign In </u></H1>
        </center>
        <br>
        <form method="POST" action="/login">
            Email : <input type="email" name="email" placeholder="Enter Your email"><br><br>
            Password : <input type="password" name="password" placeholder="Enter password"><br><br>
            <center><button>Login</button></center>
        </form>
    </div>
</body>

</html>