<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <center>
            <h1><u>Sign Up</u></h1>
        </center>

        <form method="POST" action="/signup">
            Name : <input type="text" name="Name" placeholder="Enter Your Name"><br><br>
            Email : <input type="email" name="Email" placeholder="Enter Your email"><br><br>
            Mobile No. : <input type="number" name="PhoneNumber" placeholder="mobile no."><br><br>
            Date of User Registration : <input type="date" name="RegistrationDate"><br><br>
            DOB : <input type="date" name="DOB"><br><br>
            Monthly salary : <input type="number" name="MonthlySalary"><br><br>
            Password : <input type="password" name="Password" placeholder="Enter Password"><br><br>
            <center><button>SignUp</button></center>
        </form>
    </div>
</body>

</html>